<html>
    <head>
        <title>the button</title>
        <link rel='stylesheet' href='./style.css'>
        <meta charest='UTF-8'>
    </head>
    <body>
        <header>Header</header>
        <div class="BigContainer">
            <div class="Widget1">
                yah
            </div>
            <div class="Widget2">
                yah
            </div>
            <div class="Widget3">
                yah
            </div>
            <div class="Widget4">
                yah
            </div>
            <div class="Widget5">
                yah
            </div>
            <div class="Widget6">
                yah
            </div>
            <div class="Widget7">
                yah
            </div>
            <div class="Widget8">
                yah
            </div>
            <div class="Widget9">
                yah
            </div>
    
        </div>
    </body>
</html>
