
html, body{
    height: 100%;
    width: 100%;
}
div {
    height: 33%;
    width: 33%;
    border: 10px;
    border-color: black;
    float: left;
    background-color: green;
}
#BigContainer{
  position: absolute;
 left: 50%;
 top: 50%;
 text-align: center;
 width:546px;
 height:265px;
 margin-left: -273px; /*half width*/
 margin-top: -132px; /*half height*/
}
#ryan{
  background-color: red;
}
header {
    height: 10%;
}
